{% extends "base.html" %}
{% block title %}{{ page_name }}{% endblock %}
{% block description %}{% endblock %}
{% include 'common_seo.html' %}
{% block content %}
	<!--h1 class="uk-heading-large">Archives</h1-->
	{#% for article in dates %#}
	{% for article in (articles_page.object_list if articles_page else articles) %}
	<article class="uk-article no-top-margin">
	<a href="{% if DEFAULT_LANG != 'en' %}/{{DEFAULT_LANG}}{% endif %}/{{ article.url }}" class="">{{ article.title }}</a>
		<span class="uk-article-meta">
			<time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.locale_date }}</time>
		</span>
	</article>
	{% endfor %}
	{% if DEFAULT_PAGINATION  and articles_paginator.num_pages > 1 %}
    <ul class="uk-pagination">
        {% if articles_previous_page %}<li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><i class="uk-icon-angle-double-left"></i></a></li>{% endif %}
        {% if articles_previous_page %}<li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">{{ articles_previous_page.number }}</a></li>{% endif %}
        <li class="uk-active"><span>{{ articles_page.number }}</span></li>
        {% if articles_next_page %}<li><a href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="uk-icon-angle-double-right"></i></a></li>{% endif %}
        {% if articles_next_page %}<li><a href="{{ SITEURL }}/{{ articles_next_page.url }}">{{ articles_next_page.number }}</a></li>{% endif %}
    </ul>
		{% endif %}
{% endblock %}
